[Unit]
Description=Daily PA certificate expiry check

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
